$colors: (
    common: (
        white: #ffffff,
        white-2: #F3F3F3,
        white-3: #F5F5F5,
        black: #151718,
        black-2: #52525C,
        black-3: #1F2021,
        yellow: #EED064,
        yellow-2: #FDFAEF,
        green: #33CC79,
        green-2: #EBFAF2,
        blue: #EEEEFD,
        orange: #FF7425,
        red: #E01E5A,
        sky: #1EDBDC,
        deep-blue: #4C40F7,
    ),
    heading: (
        primary: #151718,
    ),
    grey: (
        1:#F0F0F0,
        2:#F9F9F9,
        3:#C2C2C2,
        4:#DDDDDD,
        5:#888888,
        6:#F7F7F7,
        7:#F6F6F6,
    ),
    text: (
        body:#6A6A74,
        p:#6A6A74,
    ),
    theme: (
        1: #6864ED,
    ),
    border: (
        1:#F5F5F5,
        2:#F4F4F4,
        3:#EDEFEB,
        4:#F1F3F6,
        5:#333435,
        6:#38393A,
        7:#CCD5DA,
    )
);

